<div class="library-card">
  <div class="library-card__name">DOOM Eternal</div>
  <div class="library-card__description">
    Hell’s armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across
    dimensions and stop the final destruction of humanity. The only thing they fear... is you
    <div class="library-card__button-wrap">
      <button class="library-card__download library-card__button">Download</button>
      <button class="library-card__share library-card__button">Share</button>
    </div>
  </div>
</div>
