<div class="header">
  <a routerLink="/games" class="header__logo">
    <img src="../../../assets/images/Vector.svg" alt="logo">
  </a>
  <a routerLink="/games" class="header__item" routerLinkActive="header__item--active">
    Games
  </a>
  <a routerLink="/library" class="header__item" routerLinkActive="header__item--active">
    Library
  </a>
  <a routerLink="/friends" class="header__item" routerLinkActive="header__item--active">
    Friends
  </a>
  <a routerLink="/profile" class="header__item" routerLinkActive="header__item--active">
    Profile
  </a>
</div>
