<app-header></app-header>

<div class="profile__wrap">
  <form class="profile">
    <span class="profile__heading">Profile</span>

    <label class="profile__label">Username</label>
    <input type="text" placeholder="Username" class="profile__input">

    <label class="profile__label">Email</label>
    <input type="text" placeholder="Email" class="profile__input">

    <label class="profile__label">Age</label>
    <input type="text" placeholder="Age" class="profile__input">

    <button class="profile__button" type="submit">Save</button>
  </form>
</div>
