<app-header></app-header>
<div class="friends">
  <div class="friends__wrap">
    <div class="friends__heading">Friends</div>
    <div class="friends__heading-mini">Search Friends</div>
    <div class="friends__input-wrap">
      <input type="text" class="friends__input" placeholder="Search Friends" value="{{ inputValue }}" (keyup)="valuechange($event)"/>
      <button class="friends__input-button" (click)="search()" [disabled]="!inputValue">Search</button>
    </div>
    <div class="friends__heading">My Friends</div>

    <div *ngIf="!searchMode; else searchStatus">
      <div class="friends__item" *ngFor="let name of (user | async)?.friends">
        {{name}}
        <button class="friends__item__remove" (click)="removeFriend(name)">Remove Friend</button>
      </div>
    </div>

    <ng-template #searchStatus>
      <div class="friends__item" *ngFor="let name of friendsList">
        {{name}}
        <button class="friends__item__add" (click)="addFriend(name)">Add Friend</button>
      </div>
    </ng-template>



  </div>
</div>
