.login{
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

  &__wrap{
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }

  &__heading{
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin-bottom: 20px;
  }

  &__label{
    font-size: 14px;
    line-height: 16px;
    margin: 4px;
    align-self: flex-start;
  }

  &__input{
    width: 200px;
    height: 32px;
    padding: 0 8px;
    border: 0.5px solid #000000;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  &__button{
    width: 200px;
    height: 32px;
    background: #6C69FF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: white;
    font-size: 14px;
    line-height: 16px;

    &:disabled{
      cursor: not-allowed;
    }
  }
}
